* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    overflow: hidden;
    background-color: var(--color-white);
    padding: var(--unit-small) var(--unit-smaller);
  }
  
  /* Header Links */
  .header a {
    float: left;
    color: var(--color-black);
    text-align: center;
    padding: var(--unit-smaller);
    text-decoration: none;
    font-family: var(--font-headline);
    font-size: var(--unit-small);
    line-height: 25px;
    border-radius: 4px;
  }

  /* Navigation Style */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  /* Background Change */
  .header a:hover {
    background-color: var(--color-secondary);
    color: var(--color-black);
  }

  /* Active / Current Nav */
  .active {
      background-color: var(--color-primary);
  }

  
  /* responsivness */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
  }


  /* Text */
  .text {
      font-family: var(--font-text);
  }

  .headline {
      font-family: var(--font-headline);
  }

  /* Footer */
  .footer {
    text-align: left;
    background-color: var(--color-primary);
  }

  .footernav {
    display: flex;
  }

  .footernav > li {
    margin: var(--unit-smaller);
    padding: var(--unit-small);
    font-size: var(--unit-small);
    font-family: var(--font-text);
  }

  .footernav > li > a:link, a:visited {
    background-color: var(--color-primary);
    color: var(--color-black);
    border: 2px var(--color-black);
    padding: var(--unit-smaller) var(--unit-small);
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .footernav > li > a:hover, a:active {
    background-color: var(--color-black);
    color: var(--color-white);
  }