* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

/* Header */
.header {
    overflow: hidden;
    background-color: var(--color-white);
    padding: var(--unit-small) var(--unit-smaller);
  }
  
  /* Header Links */
  .header a {
    float: left;
    color: var(--color-black);
    text-align: center;
    padding: var(--unit-smaller);
    text-decoration: none;
    font-family: var(--font-headline);
    font-size: var(--unit-small);
    line-height: 25px;
    border-radius: 4px;
  }

  /* Navigation Style */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  /* Background Change */
  .header a:hover {
    background-color: var(--color-secondary);
    color: var(--color-black);
  }

  /* Active / Current Nav */
  .active {
      background-color: var(--color-primary);
  }

  
  /* responsivness */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* Body Columns */
  .column {
      float: left;
      padding: var(--unit-small);
  }

  .column.gallery {
      width: 25%;
  }

  .column.text {
      width: 50%;
  }

  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* Responsivness Columns */
  @media screen and (max-width: 600px) {
      .column.gallery, .column.text {
          width: 100%;
      }
  }

  /* Text */
  .text {
      font-family: var(--font-text);
  }

  .headline {
      font-family: var(--font-headline);
  }