@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /*colors*/
    --color-primary: #FFAEED;
    --color-secondary: #FFFA8E;
    --color-black: #000000;
    --color-white: #FFFFFF;

    /*units*/
    --unit-smaller: 10px;
    --unit-small: 20px;
    --unit-medium: 40px;
    --unit-large: 60px;
    --unit-larger: 80px;

    /*fonts*/
   --font-headline: "PT Serif";
   --font-text: "Roboto";


}